asgi-redis==0.14.1
asgiref==0.14.0
autobahn==0.16.0
beautifulsoup4==4.5.1
channels==0.17.2
daphne==0.14.3
Django==1.10
django-jinja==2.2.1
django-livereload-server==0.2.1
Jinja2==2.8
MarkupSafe==0.23
msgpack-python==0.4.8
numpy==1.11.1
redis==2.10.5
six==1.10.0
tornado==4.4.1
Twisted==16.2.0
txaio==2.5.1
zope.interface==4.2.0
