#camera_iframe { 
	border:0px; 
	width:400px;
	height:400px;
}

body {
	background-color: #fdf7d4;
	padding-left: 50px;
	padding-top: 10px;
}

/* Buddhistic colors
	light yellow: #fdf7d4;
	red: #7b1312;

*/