<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'meditation_player.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">

</head>
<body>
    <button type="button" id="countdown_button" class="btn btn-secondary">Start Count Down</button>
    <div>Meditation stops in <span id="time">60:00</span> minutes.
    </div> 
    <br />
    <h3>Youtube Player and other connected apps</h3>
    <br />
    <div id="video_placeholder"></div>
    <br /> <br />
    <h3>Control Panel</h3>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active settings">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Use only now
      </label>
      <label class="btn btn-primary settings">
        <input type="radio" name="options" id="option2" autocomplete="off"> Use now and store as preset
      </label>
    </div>

    <br />
    <br />

    <button type="button" id="enable_camera_button" class="btn btn-secondary settings" onclick="toggleIframe('#enable_camera_button')">Display heartmeter</button>
    <button type="button" id="favorites_button" class="btn btn-secondary settings" onclick="toggleDisplay('#favorites_button', '#favorites_text')">Toggle list of favorite songs</button>

    <br /> <br />

   <div class="row"> 
        <div class="col-md-4">
            <input type="text" id="vid1" value="beginning_video" />
            <input type="text" id="vid2" value="end_video" />
        </div>
        <div class="col-md-4">
            <button type="button" id="video_ids_submit"  class="btn btn-secondary settings" onclick="submitVideoIds(document.getElementById('vid1').value, document.getElementById('vid2').value)">submit youtube links</button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-4">
            <input type="text" id="meditation_time" value="3600"> 
        </div>
        <div class="col-md-4">
            <button type="button" id="video_times_submit"  class="btn btn-secondary settings" onclick="changeCountDownTime(document.getElementById('meditation_time').value)">submit time (in seconds)</button>
        </div>
    </div>

    <br /> <br /> <br />

    <br />
    <div id="favorites_text" style="display:none">
        Defaults:
        <ul>
            <li>YQlyHbu0zz4 --  Antoine Dufour - These Moments</li> 
            <li>QoitiIbdeaM --  Owl City - Fireflies (remix by Said The Sky)</li> 
        </ul>
        <br />
        Other cool songs (listed as youtube ids): 
        <ul>
            <li>F9-4N-3wv6I -- Vexento and Lucas King - Peace ("epic piano")</li>
            <li>nLHfIvD0bJE -- Hollywood Principle - Breathing Underwater Remix by Ether ("Breathing underwater")</li>
            <li>mDlQ4QYsVhQ -- Anima - You Are Truth (epic soundscape)</li>
            <li>BXckWJeWrP8 -- Dreamlag - Firefly</li>
            <li>044KzpsVjRY -- Miro - Promise (ft Satellite Empire)</li>
            <li>Ugq6sahpcAE -- Martin Garrix & Bebe Rexha - In The Name Of Love</li>
            <li>Nj_7R4e9ozw -- MitiS & MaHi - Beautiful Life</li>
            <li>qUuvTpU0hWE -- CMA - Forever In My Heart (rustig maar damn superscherp als je er intens naar luistert!)</li>
            <li>https://www.youtube.com/watch?v=TKchMvDsCVA</li>
            <li>https://www.youtube.com/watch?v=YRrYClM0ly4 -- Carousel - lets go home (awesome arpeggio)</li>
        </ul>
    https://www.youtube.com/watch?v=InLrfyyVUtQ
    https://www.youtube.com/watch?v=W0W1c_qH9sQ
        <ul>

            <li>W6Hy0G0R3AQ -- CMA - You're Not Alone</li>
            <li>cSGa6uuTcMk -- CMA - So Far Away ft. Wonder</li>
            <li>95bC9LbaoQQ -- Ziu x Nyanara - Unforgettable (echo stem na ong. 1 min.)</li>
            <li>CrwHNSkzT3U -- Said The Sky - Book Of Us (ft. Mothica)</li>
            <li>https://www.youtube.com/watch?v=JpdrO1ZY0QA -- Mendum feat. EDEN - Elysium (Miro Remix) "Leeet it buuuurn"</li>
            <li>https://www.youtube.com/watch?v=vKKERJpFuvo -- Frozen Tides by Electus & Michael St Laurent (heerlijke piano die ik voorspelde)</li>
		<li>https://www.youtube.com/watch?v=gM1perG-y_I&spfreload=5 -- Ember Island - Need You (kazlo Remix), damnnn deze is spaaaaaceee!! :) </li>
        </ul>
        <p>Try: Vqrj0Lr81WQ, GA9a2lrhdl0, 2Y4ETdepLjw</p>
    </div>

    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js"></script>
    <script src="{% static 'countdowntimer.js' %}"></script>
    <script src="{% static 'meditation_player.js' %}"></script>
    <script src="{% static 'meditation_settings.js' %}"></script>
</body>
</html>
